/* __Сброс стилей, работающих по умолчанию */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

h1,
h2,
h3{
	font-weight: normal;
}

/* __Общие стили для всего документа */
body{
	font-family: Arial, "Helvetica Neue", sans-serif;
	font-size: 16px;
}

.center-wrapper{
	box-sizing: content-box;
	max-width: 920px;
	padding: 0 40px;
	margin: 0 auto;
}

.center-wrapper:before,
.center-wrapper:after,
.clearfix:before,
.clearfix:after{
	display: block;
	clear: both;
	content: "";
}



.b-header{
	padding-top: 80px;
	padding-bottom: 70px;
	color: #fff;
	background-color: #26737e;
	text-align: center;
}

	.b-header__sub-heading-container{
		position: relative;
		font-size: 4.5em;
		margin-bottom: 1em;
	}

	@media all and (max-width: 640px){
		.b-header__sub-heading-container{
			font-size: 3em;
		}
	}

		.b-header__sub-heading-container:before{
			position: absolute;
			z-index: 1;
			display: block;
			top: 50%;
			width: 100%;
			height: 2px;
			margin-top: -1px;
			content: "";
			background-color: #fff;
		}

		.b-header__sub-heading{
			position: relative;
			z-index: 2;
			padding: 0 35px;
			background-color: #26737e;
		}

	.b-header__heading{
		max-width: 560px;
		margin: 0 auto;
		margin-bottom: 1.5em;
		font-size: 2em;
	}

	@media all and (max-width: 640px){
		.b-header__heading{
			font-size: 1.7em;
		}
	}

	.b-header__info_external{
		position: relative;
		font-size: 24px;
		margin-bottom: 2em;
	}

		.b-header__info_external:before{
			position: absolute;
			z-index: 1;
			top: 50%;
			display: block;
			width: 100%;
			height: 2px;
			background-color: #fff;
			content: "";
		}

		.b-header__info_internal{
			position: relative;
			z-index: 2;
			display: inline-block;
			padding: 0 40px;
			background-color: #26737e;
		}

		.b-header__event-date-time{
			position: relative;
			padding-left: 28px;
			margin-right: 40px;
			line-height: 1.7em;
		}

			.b-header__event-date-time:before{
				content: "";
				position: absolute;
				top: 4px;
				left: 0;
				width: 18px;
				height: 18px;
				background-image: url("../img/sprite.png");
				background-position: 0 -230px;
			}

		.b-header__event-location{
			position: relative;
			line-height: 1.7em;
		}

			.b-header__event-location:before{
				content: "";
				position: absolute;
				top: 4px;
				left: -23px;
				width: 13px;
				height: 19px;
				background-image: url("../img/sprite.png");
				background-position: -20px -230px;
			}

		.b-header__action-link{
			display: inline-block;
			padding: 1em 1.7em;
			background-color: #fff;
			border-radius: 3px;
			color: #26737e;
			font-weight: bold;
		}

			.b-header__action-link:hover{
				color: #26737e;
			}



.b-intro-description{
	padding-top: 82px;
	padding-bottom: 62px;
	background-color: #f3f3f3;
}

	.b-intro-description__left-column{
		float: left;
		width: 72.826%;
		padding: 40px 0 62px 0;
	}

	@media all and (max-width: 640px) {
		.b-intro-description__left-column{
			float: none;
			width: 100%;
			margin: 0 auto;
			padding-bottom: 0;
		}
	}

		.b-intro-description__text{
			margin-bottom: 1em;
			line-height: 1.375em;
		}

	.b-intro-description__right-column{
		float: right;
		width: 22.826%;
		overflow: hidden;
		text-align: center;
	}

	@media all and (max-width: 640px) {
		.b-intro-description__right-column{
			float: none;
			width: 100%;
		}
	}

		.b-intro-description__picture{
			width: 100%;
			max-width: 210px;
			margin-bottom: 17px;
		}

.b-features{
	padding-top: 78px;
}

	.b-features__item:first-of-type{
		margin-bottom: 40px;
	}

	.b-features__item:nth-of-type(2){
		margin-bottom: 36px;
	}

		.b-features__left-column{
			float: left;
			width: 22.826%;
			overflow: hidden;
			text-align: center;
		}

		@media all and (max-width: 640px) {
			.b-features__left-column{
				float: none;
				width: 100%;
				padding-bottom: 2.5em;
			}
		}

			.b-features__picture{
				width: 73.333%;
				max-width: 150px;
			}

		.b-features__right-column{
			float: right;
			width: 72.826%;
			padding-top: 25px;
		}

		@media all and (max-width: 640px) {
			.b-features__right-column{
				float: none;
				width: 100%;
			}
		}

			.b-features__heading{
				font-size: 24px;
				margin-bottom: 0.5em;
			}

			.b-features__text{
				line-height: 1.375em;
			}

	.b-features__quote-container{
		background-color: #f3f3f3;
		border-top: 80px solid #fff;
	}

		.b-features__quote-left-column{
			position: relative;
			float: right;
			/*width: 38.5%;*/
			max-width: 360px;
			margin-right: 11.594%;
			padding-bottom: 60px;
		}

		@media all and (max-width: 749px){
			.b-features__quote-left-column{
				float: none;
				margin: 0 auto;
			}
		}

			.b-features__quote-text{
				z-index: 2;
				position: relative;
				margin-top: 15px;
				margin-bottom: 5.454em;
				font-size: 22px;
				line-height: 1.363em;
				font-style: italic;
			}

			@media all and (max-width: 749px){
				.b-features__quote-text{
					margin-bottom: 1.5em;
				}
			}

				.b-features__quote-text:before{
					content: "";
					z-index: -1;
					position: absolute;
					display: block;
					top: -88%;
					left: -21%;
					width: 142%;
					height: 276%;
					background-color: #fff;
					border: 2px solid #f3f3f3;
					border-radius: 50%;
				}

				.b-features__quote-text:after{
					content: "";
					z-index: 0;
					position: absolute;
					bottom: -93px;
					width: 135px;
					height: 52px;
					background-image: url("../img/sprite.png");
					background-position: 0 -480px;
				}

				@media all and (max-width: 749px){
					.b-features__quote-text:before,
					.b-features__quote-text:after{
						display: none;
					}
				}

			.b-features__quote-label{
				/*width: 107%;*/
				max-width: 385px;
				font-size: 22px;
				line-height: 1.363em;
				font-style: italic;
			}

		.b-features__quote-right-column{
			float: right;
			/*width: 22.826%;*/
			max-width: 210px;
			overflow: hidden;
			text-align: center;
		}

			@media all and (max-width: 749px){
				.b-features__quote-right-column{
					float: none;
					margin: 0 auto;
				}
			}

			.b-features__quote-picture{
				width: 100%;
				margin-top: 35%;
			}

.b-program{
	padding-top: 80px;
	padding-bottom: 37px;
}

	.b-program__item{
		margin-bottom: 40px;
	}

		.b-program__left-column{
			float: left;
			width: 22.826%;
			overflow: hidden;
			text-align: center;
		}

		@media all and (max-width: 640px){
			.b-program__left-column{
				float: none;
				width: 100%;
			}
		}

			.b-program__picture{
				width: 73.333%;
				max-width: 154px;
			}

		.b-program__right-column{
			float: right;
			width: 72.826%;
			padding-top: 30px;
		}

		@media all and (max-width: 640px){
			.b-program__right-column{
				float: none;
				width: 100%;
				padding-bottom: 2.5em;
			}
		}

			.b-program__heading{
				margin-bottom: 1.2em;
				font-size: 24px;
				line-height: 22px;
			}

			.b-program__text{
				font-size: 22px;
				line-height: 1.363em;
				font-style: italic;
			}

.b-theses{
	padding-top: 80px;
	padding-bottom: 40px;
	background-color: #f3f3f3;
}

	.b-theses__item{
		margin-bottom: 40px;
	}

		.b-theses__left-column{
			float: left;
			width: 72.826%;
			padding-top: 30px;
		}

		@media all and (max-width: 640px){
			.b-theses__left-column{
				float: none;
				width: 100%;
				margin-bottom: 3em;
			}
		}

			.b-theses__heading{
				font-size: 24px;
				line-height: 0.916em;
				margin-bottom: 1.2em;
			}

			.b-theses__text{
				font-size: 22px;
				line-height: 1.363em;
				font-style: italic;
			}

		.b-theses__right-column{
			float: right;
			width: 22.826%;
			overflow: hidden;
			text-align: center;
		}

		@media all and (max-width: 640px){
			.b-theses__right-column{
				float: none;
				width: 100%
			}
		}

			.b-theses__picture{
				width:  73.333%;
				max-width: 154px;
			}

.b-registration{
	padding-top: 80px;
	padding-bottom: 70px;
}

	.b-registration__form{
		display: block;
		width: 60%;
		margin: 0 auto;
	}

.b-footer{
	padding-top: 50px;
	padding-bottom: 40px;
	background-color: #f3f3f3;
}

	.b-footer__social-links-container{
		max-width: 500px;
		margin: 0 auto;
		padding: 25px 40px 55px 40px;
		font-size: 0;
		text-align: center;
	}

		.b-footer__social-links-heading{
			display: inline-block;
			clear: both;
			font-size: 34px;
			line-height: 1.2em;
			margin-bottom: 1.65em;
		}

		.b-footer__social-link-container{
			display: inline-block;
			text-align: center;
			font-size: 0;
		}

		.b-footer__social-link{
			display: inline-block;
			width: 54px;
			height: 52px;
			margin: 0 15px;
			margin-bottom: 15px;
			background-image: url("../img/sprite.png");
			background-repeat: no-repeat;
			border-radius: 7px;
		}

		.b-footer__social-link_vk{
			background-position: 0 -410px;
		}

		.b-footer__social-link_fb{
			background-position: -79px -410px;
		}

		.b-footer__social-link_twitter{
			background-position: -160px -410px;
		}

		.b-footer__social-link_google-p{
			background-position: -241px -410px;
		}

		.b-footer__social-link_lj{
			background-position: -322px -410px;
		}

			.b-footer__social-link:nth-of-type(5n){
				margin-right: 0;
			}

	.b-footer__caption{
		padding-top: 20px;
		padding-bottom: 45px;
		border-top: 1px solid #c9c8c8;
		color: #717171;
		font-size: 14px;
		line-height: 1.357em;
		font-weight: bold;
		text-align: right;
	}

		.b-footer__caption-logo{
			margin-left: 5px;
			vertical-align: bottom;
		}
