/* __Сброс стилей, работающих по умолчанию */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

h1,
h2,
h3{
	font-weight: normal;
}

/* __Общие стили для всего документа */
body{
	font-family: Arial, "Helvetica Neue", sans-serif;
	font-size: 16px;
}

.center-wrapper{
	width: 1000px;
	padding: 0 40px;
	margin: 0 auto;
}

.center-wrapper:before,
.center-wrapper:after,
.clearfix:before,
.clearfix:after{
	display: block;
	clear: both;
	content: "";
}



.b-header{
	padding-top: 80px;
	padding-bottom: 70px;
	color: #fff;
	background-color: #26737e;
	text-align: center;
}

	.b-header__sub-heading-container{
		position: relative;
		font-size: 72px;
		margin-bottom: 1em;
	}

		.b-header__sub-heading-container:before{
			position: absolute;
			z-index: 1;
			display: block;
			top: 50%;
			width: 100%;
			height: 2px;
			margin-top: -1px;
			content: "";
			background-color: #fff;
		}

		.b-header__sub-heading{
			position: relative;
			z-index: 2;
			padding: 0 35px;
			background-color: #26737e;
		}

	.b-header__heading{
		max-width: 560px;
		margin: 0 auto;
		margin-bottom: 1.8em;
	}

	.b-header__info_external{
		position: relative;
		font-size: 24px;
		margin-bottom: 2em;
	}

		.b-header__info_external:before{
			position: absolute;
			z-index: 1;
			top: 50%;
			display: block;
			width: 100%;
			height: 2px;
			background-color: #fff;
			content: "";
		}

		.b-header__info_internal{
			position: relative;
			z-index: 2;
			display: inline-block;
			padding: 0 40px;
			background-color: #26737e;
		}

		.b-header__event-date-time{
			position: relative;
			padding-left: 28px;
			margin-right: 40px;
		}

			.b-header__event-date-time:before{
				content: "";
				position: absolute;
				top: 5px;
				left: 0;
				width: 18px;
				height: 18px;
				background-image: url("../img/sprite.png");
				background-position: 0 -230px;
			}

		.b-header__event-location{
			position: relative;
		}

			.b-header__event-location:before{
				content: "";
				position: absolute;
				top: 4px;
				left: -23px;
				width: 13px;
				height: 19px;
				background-image: url("../img/sprite.png");
				background-position: -20px -230px;
			}

		.b-header__action-link{
			display: inline-block;
			padding: 1em 1.7em;
			background-color: #fff;
			border-radius: 3px;
			color: #26737e;
			font-weight: bold;
		}



.b-intro-description{
	padding-top: 82px;
	padding-bottom: 62px;
	background-color: #f3f3f3;
}

	.b-intro-description__left-column{
		float: left;
		width: 710px;
		padding: 40px 40px 62px 0;
	}

		.b-intro-description__text{
			margin-bottom: 1em;
			line-height: 1.375em;
		}

	.b-intro-description__right-column{
		float: left;
		overflow: hidden;
	}

		.b-intro-description__picture{
			position: relative;
			width: 210px;
			height: 210px;
			margin-bottom: 17px;
			border-radius: 50%;
			background-color: #26737e;
		}

			.b-intro-description__picture:before{
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 156px;
				height: 151px;
				margin-left: -58px;
				margin-top: -61px;
				background-image: url("../img/sprite.png");
				background-position: -120px -250px;
			}

.b-features{
	padding-top: 78px;
}

	.b-features__item:first-of-type{
		margin-bottom: 40px;
	}

	.b-features__item:nth-of-type(2){
		margin-bottom: 36px;
	}

		.b-features__left-column{
			float: left;
			width: 210px;
			font-size: 0;
			text-align: center;
			overflow: hidden;
		}

			.b-features__picture{
				position: relative;
				display: inline-block;
				width: 150px;
				height: 150px;
				border-radius: 50%;
				background-color: #f3f3f3;
			}

				.b-features__picture:before{
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 115px;
					height: 30px;
					margin-left: -57px;
					margin-top: -14px;
					background-image: url("../img/sprite.png");
					background-position: 0 -250px;
				}

		.b-features__right-column{
			float: left;
			width: 710px;
			padding-top: 25px;
			padding-left: 40px;
		}

			.b-features__heading{
				font-size: 24px;
				margin-bottom: 0.5em;
			}

			.b-features__text{
				line-height: 1.375em;
			}

	.b-features__quote-container{
		background-color: #f3f3f3;
		border-top: 80px solid #fff;
	}

		.b-features__quote-left-column{
			float: left;
			width: 710px;
			padding-left: 250px;
			padding-right: 40px;
			padding-bottom: 60px;
		}

			.b-features__quote-text{
				z-index: 2;
				position: relative;
				max-width: 360px;
				margin-top: 15px;
				margin-bottom: 5.454em;
				font-size: 22px;
				line-height: 1.363em;
				font-style: italic;
			}

				.b-features__quote-text:before{
					z-index: -1;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 488px;
					height: 246px;
					margin-left: -244px;
					margin-top: -123px;
					display: block;
					content: "";
					background-color: #fff;
					border: 2px solid #f3f3f3;
					border-radius: 50%;
				}

				.b-features__quote-text:after{
					content: "";
					z-index: 0;
					position: absolute;
					bottom: -98px;
					width: 135px;
					height: 52px;
					background-image: url("../img/sprite.png");
					background-position: 0 -480px;
				}

			.b-features__quote-label{
				max-width: 395px;
				font-size: 22px;
				line-height: 1.363em;
				font-style: italic;
			}

		.b-features__quote-right-column{
			float: left;
			font-size: 0;
			text-align: center;
			overflow: hidden;
		}

			.b-features__quote-person{
				margin-top: 80px;
			}

.b-program{
	padding-top: 80px;
	padding-bottom: 37px;
}

	.b-program__item{
		margin-bottom: 40px;
	}

		.b-program__left-column{
			float: left;
			font-size: 0;
			text-align: center;
			overflow: hidden;
		}

			.b-program__picture{
				position: relative;
				display: inline-block;
				width: 154px;
				height: 154px;
				border-radius: 50%;
			}

				.b-program__picture:before{
					content: "";
					position: absolute;
					background-image: url("../img/sprite.png");
				}

			.b-program__picture_our-time-pad{
				background-color: #7b84b9;
			}

				.b-program__picture_our-time-pad:before{
					top: 34px;
					left: 39px;
					width: 114px;
					height: 110px;
					background-position: 0 0;
				}

			.b-program__picture_fast-start{
				background-color: #f3a150;
			}

				.b-program__picture_fast-start:before{
					top: 44px;
					left: 34px;
					width: 109px;
					height: 107px;
					background-position: -115px 0;
				}

			.b-program__picture_any-event{
				background-color: #c4a4ce;
			}

				.b-program__picture_any-event:before{
					top: 35px;
					left: 29px;
					width: 113px;
					height: 112px;
					background-position: -225px 0;
				}

		.b-program__right-column{
			float: left;
			width: 710px;
			padding-top: 30px;
			padding-left: 40px;
		}

			.b-program__heading{
				margin-bottom: 1.2em;
				font-size: 24px;
				line-height: 22px;
			}

			.b-program__text{
				font-size: 22px;
				line-height: 1.363em;
				font-style: italic;
			}

.b-theses{
	padding-top: 80px;
	padding-bottom: 40px;
	background-color: #f3f3f3;
}

	.b-theses__item{
		margin-bottom: 40px;
	}

		.b-theses__left-column{
			float: left;
			width: 710px;
			padding-right: 40px;
			padding-top: 30px;
		}

			.b-theses__heading{
				font-size: 24px;
				line-height: 0.916em;
				margin-bottom: 1.2em;
			}

			.b-theses__text{
				font-size: 22px;
				line-height: 1.363em;
				font-style: italic;
			}

		.b-theses__right-column{
			float: left;
			font-size: 0;
			text-align: center;
		}

			.b-theses__picture{
				position: relative;
				display: inline-block;
				width: 154px;
				height: 154px;
				border-radius: 50%;
			}

				.b-theses__picture:before{
					content: "";
					position: absolute;
					background-image: url("../img/sprite.png");
				}

			.b-theses__picture_hidden-capability{
				background-color: #f7cc52;
			}

				.b-theses__picture_hidden-capability:before{
					top: 45px;
					left: 38px;
					width: 113px;
					height: 96px;
					background-position: 0 -115px;
				}

			.b-theses__picture_attraction{
				background-color: #6fc378;
			}

				.b-theses__picture_attraction:before{
					top: 40px;
					left: 40px;
					width: 114px;
					height: 113px;
					background-position: -115px -115px;
				}

			.b-theses__picture_quest-answer{
				background-color: #e26464;
			}

				.b-theses__picture_quest-answer:before{
					top: 36px;
					left: 36px;
					width: 101px;
					height: 99px;
					background-position: -230px -115px;
				}

.b-registration{
	padding-top: 80px;
	padding-bottom: 70px;
}

	.b-registration__form{
		display: block;
		margin: 0 auto;
	}

.b-footer{
	padding-top: 50px;
	padding-bottom: 40px;
	background-color: #f3f3f3;
}

	.b-footer__social-links-container{
		max-width: 500px;
		margin: 0 auto;
		padding: 25px 40px 55px 40px;
		font-size: 0;
		text-align: center;
	}

		.b-footer__social-links-heading{
			display: inline-block;
			clear: both;
			font-size: 34px;
			line-height: 1.2em;
			margin-bottom: 1.65em;
		}

		.b-footer__social-link{
			display: inline-block;
			width: 54px;
			height: 52px;
			margin-right: 30px;
			margin-bottom: 15px;
			background-image: url("../img/sprite.png");
			background-repeat: no-repeat;
			border-radius: 7px;
		}

		.b-footer__social-link_vk{
			background-position: 0 -410px;
		}

		.b-footer__social-link_fb{
			background-position: -79px -410px;
		}

		.b-footer__social-link_twitter{
			background-position: -160px -410px;
		}

		.b-footer__social-link_google-p{
			background-position: -241px -410px;
		}

		.b-footer__social-link_lj{
			background-position: -322px -410px;
		}

			.b-footer__social-link:nth-of-type(5n){
				margin-right: 0;
			}

	.b-footer__caption{
		padding-top: 20px;
		padding-bottom: 45px;
		border-top: 1px solid #c9c8c8;
		color: #717171;
		font-size: 14px;
		line-height: 1.357em;
		font-weight: bold;
		text-align: right;
	}

		.b-footer__caption-logo{
			margin-left: 5px;
			vertical-align: bottom;
		}
